/* FONTS  ________________________________________*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* MAIN CSS ________________________________________*/

body, html {
  font-family: 'Montserrat', sans-serif;
  background:#111;
  /* background: radial-gradient(circle at center, #222, #000); */
  width: 100%;
  height: 100%;
  color: #efefef;
  overflow: hidden;
}

.links {
  color: #777;
}

.links a {
  color: #777;
}

.links a:hover {
  color: #777;
  text-decoration: none;
}

h3 {
  color: #777;
  text-align: left;
  border-bottom: 1px solid #777;
  width: 100%;
}

.nav_mobile {
  display: none;
}

/* SCROLLBAR ________________________________________*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px #efefef; 
}



/* SECTIONS  ________________________________________*/
input[type=radio] {
  display: none;
}

input[type=radio]#section1:checked ~ nav label[for=section1] {
  background-color: white;
}

input[type=radio]#section1:checked ~ section:nth-of-type(1) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section1:checked ~ .cover {
  background-color: #111;
}

input[type=radio]#section2:checked ~ nav label[for=section2] {
  background-color: white;
}

input[type=radio]#section2:checked ~ section:nth-of-type(2) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section2:checked ~ .cover {
  background-color: #111;
}

input[type=radio]#section3:checked ~ nav label[for=section3] {
  background-color: white;
}

input[type=radio]#section3:checked ~ section:nth-of-type(3) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section3:checked ~ .cover {
  background-color: #111;
}

input[type=radio]#section4:checked ~ nav label[for=section4] {
  background-color: white;
}

input[type=radio]#section4:checked ~ section:nth-of-type(4) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section4:checked ~ .cover {
  background-color: #111;
}

input[type=radio]#section5:checked ~ nav label[for=section5] {
  background-color: white;
}

input[type=radio]#section5:checked ~ section:nth-of-type(5) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section5:checked ~ .cover {
  background-color: #111;
}

input[type=radio]#section6:checked ~ nav label[for=section6] {
  background-color: white;
}

input[type=radio]#section6:checked ~ section:nth-of-type(6) {
  z-index: 1;
  top: 0;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio]#section6:checked ~ .cover {
  background-color: #111;
}

.nav {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.nav span {
  display: flex;
}

.nav span label {
  font-size: 10px;
  margin-top: 12px;
  margin-right: 10px;
  color: #777;
}

.nav__item {
  width: 12px;
  height: 12px;
  display: block;
  margin: 12px auto;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
}

.nav__item:hover {
  background-color: white;
}

section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  transition-delay: 0.5s;
  width: 70%;
  margin: auto;
  z-index: 1001!important;
}

section div {
  width: 100%; 
  justify-content: space-between;
}

section span {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8vw;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}







/* WHO AM I  ________________________________________*/

.about-me {
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat';
}

.about-me h3 {
  letter-spacing: 5px;
}

.about-me p {
  font-size: 12px;
  text-align: justify;
}

.about-me img {
  border-radius: 50%;
  -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
  box-shadow: 0 0 15px #888;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.6s ease;
}

.about-me img:hover {
  filter: none;
}

.blocktext {
  font-size: 11px;
}

.icons {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.icons .icon1 {
  width: 20%;
  text-align: center;
}

.Coluna-1-About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin-right: 30px;
}

.Coluna-1-About img {
  width: 150px;
  height: 150px;
}

.icons .fa, .fas {
  font-weight: 900;
  font-size: 40px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.fa:hover, .fas:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

hr {
  margin-top: 1rem;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid white;
}



/* Drawings ________________________________________*/

#bunga.less {
  overflow: hidden;
  height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  overflow-y: scroll;
}

.row .column {
  flex: 25%;
  padding-left: 15px;
}

.row img {
  width: 100%;
  margin-top: 15px;
  vertical-align: middle;
  -moz-box-shadow: 0 0 5px #777;
  -webkit-box-shadow: 0 0 5px #777;
  box-shadow: 3 6 18px #000000;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.row img:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: solid 5px #efefef;
  opacity: 0.5; 
}


/* 3D ________________________________________*/
.side_divs {
  display: flex;
}

.row .column2 {
  flex: 25%;
  padding-left: 15px;
}

.column2 img {
  max-height: 150px;
  object-fit:cover;
}


/* Web Design ________________________________________*/
.web_section {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}


/* PROJETOS ________________________________________*/
figure.snip1206 {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
  color: #000000;
  text-align: center;
}

figure.snip1206 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
}

figure.snip1206 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip1206:after {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.95;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

figure.snip1206 p:nth-child(1), 
figure.snip1206 p:nth-child(2) {
  margin: 0;
  width: 100%;
  opacity: 0;
}

figure.snip1206 p:nth-child(1) {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}

figure.snip1206 p:nth-child(2) {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}

figure.snip1206 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1206:hover:after,
figure.snip1206.hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure.snip1206:hover figcaption p:nth-child(1),
figure.snip1206.hover figcaption p:nth-child(1),
figure.snip1206:hover figcaption p:nth-child(2),
figure.snip1206.hover figcaption p:nth-child(2) {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1206:hover figcaption p:nth-child(1),
figure.snip1206.hover p:nth-child(1) {
  opacity: 1;
}

figure.snip1206:hover figcaption p:nth-child(2),
figure.snip1206.hover figcaption p:nth-child(2) {
  opacity: 0.7;
}



/* CONTACT  ________________________________________*/
.center {
  text-align: center;
}

.contact {
  width: 100%;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 16px;
  color: black;
  font-family: 'Montserrat';
  margin: 5px 0;
  border:none;
}

.contact-form {
  padding: 40px;
  width: 35%;
}
.message {
  height: 120px;
}

.message:focus {
  outline: none;
}

#sendmessage {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  background: white;
  border: 2px solid white;
  color: black;
  font-weight: 600;
  margin-top: 10px;
  outline: none;
}

#sendmessage:hover {
  background: black;
  color: white;
}

.fab {
  font-size: 24px;
  background-color: #efefef;
  border-radius: 3px;
  color: #000000;
  padding: 5px;
  text-align: center;
  margin: 20px 5px 0 5px;
  transition: filter 0.3s ease-in-out;
}

.fab:hover {
  filter: invert(100%);
}

input:focus {
  outline:none;
  border: none;
}



/* MODALS  */
#modal {
  top:0;
  left:0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:9999;
  padding-top: 50px;
  background-color: #efefef;
  overflow: scroll;
  transform:scale(0);
}

.modal-bg {
  width: 60%;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-bg p {
  font-size: 11px;
  color: #111;
  font-family: 'Montserrat';
  font-weight: 600;
  max-width: 95%;
  margin-top: 20px;
}

.modal-bg img {
  width: 95%;
  margin: 10px 0;
}

.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.one .modal-bg {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.one.out .modal-bg {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.video {
  width: 95%;
  height: 615px;
  border: none;
  outline: none;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


