
@media only screen and (max-width: 1080px) {
    body, html {
        position: relative;
    }

    section {
        width: 95%;
        padding-top: 15px;
        /* align-items: initial; */
        overflow: scroll;
        height: calc(100% - 40px);
    }
    
    section span {
        font-size: 3vw;
        line-height: 1;
    }

    h3 {
        font-size: 7vw;
    }

   
    /* NAV  */
    .nav {
        display: none;
    }

    .nav_mobile {
        position: fixed;
        background: #111;
        width: 100%;
        bottom: 0;
        display: flex;
        z-index: 9998;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }

    .nav_mobile img {
        filter: invert();
    }
    
    .container_cubes {
        margin-top: 50%;
    }

    .links {
        font-size: 3.2vw;
    }
    
    .description--preview {
        font-size: 2em;
        width: 50%;
        left: 100%;
        top: 0;
        height: 100%;
        padding: 0 0.5em;
    }

    input[type=radio]#section1:checked ~ nav label[for=section1],
    input[type=radio]#section2:checked ~ nav label[for=section2],
    input[type=radio]#section3:checked ~ nav label[for=section3],
    input[type=radio]#section4:checked ~ nav label[for=section4],
    input[type=radio]#section5:checked ~ nav label[for=section5],
    input[type=radio]#section6:checked ~ nav label[for=section6] {
        background-color: #777;
        padding: 1px 5px;
        border-radius: 3px;
    }

    /* WHO AM I  */

    #about {
        flex-direction: column;
    }

    .Coluna-1-About {
        flex-direction: initial;
        margin-right: 0;
    }

    .Coluna-1-About img {
       width: 110px;
       height: 110px;
    }


    .sobremim {
        width: 100%;
        justify-content: space-between;
        margin-top: 25px;
    }

    .about-me h3 {
        letter-spacing: 5px;
        text-align: center;
        font-size: 25px;
    }

    .about-me p {
        font-size: 11px;
    }

    .icons {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }

    .icons i {
        font-size: 30px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .blocktext {
        font-size: 10px;
    }

    /* DRAWINGS  */
    #bunga.less {
        margin: 20px 0 0 0;
        height: 50%;
        max-height: 200px;
    }

    .row .column {
        padding-left: 5px;
    }

    .row img {
        margin-top: 5px;
    }

    /* 3D  */

    .row .column2 {
        flex: 50%;
        padding-left: 5px;
    }

    .row .column2 img {
        margin-top: 5px;
    }

    #cboxClose {
        top: 10px;
        right: 5px;
        width: 35px;
        height: 42px;
        background-size: 144px 25px;
    }

    #cboxNext, #cboxPrevious {
        visibility: hidden;
    }

    /* WEB DESIGN  */

    .web_section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    figure.snip1206 {
        margin: 10px;
        max-width: 100%;
        width: 95%;
    }

    /* PROJECTS  */

    /* Contact  */
    .contact-form {
        padding:10px;
        width: 100%;
    }
}

